:root{
  --primaryColor: #F54246;
  --interFont: 'Inter', 'sans-serif';
  --ralewayFont: 'Raleway', 'sans-serif';
  --boxShadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

html, body{
  margin: 0;
}
*{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
  font-family: var(--interFont);
}

.btn{
  background-color: var(--primaryColor);
  color: white;
  font-size: 16.5px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
}