.home {
  width: 100%;
}
.hero {
  background-image: url("../../assets/bushero.jpg");
  background-size: cover;
  background-position: center;
  padding: 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 1.5em;
  font-family: var(--ralewayFont);
  width: fit-content;
  margin: 45px auto;
  text-align: center;
}

@media (max-width: 612px){
  .heading{
    font-size: 17.5px;
    width: 80%;
  }
}