
.navbar{
    position: relative;
    box-shadow: var(--boxShadow);
}

.wrapper{
    height: 70px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    align-items: center;

}

.logo{
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: 600;
    font-size: 18px;
    color: var(--primaryColor);
    font-family: var(--ralewayFont);
    z-index: 2;
}

a{
    font-size: 16.5px;
    font-weight: 500;
}
/* ------------ Mobile Menu ----------- */
.mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 25px;
    z-index: 1;
    background-color: white;
    box-shadow: var(--boxShadow);
    top: 0%;
    left: 0;
    right: 0;
    padding: 20px 0;
    transition: top 0.3s ease-in-out;
}

.open {

    top: 100%;
}
.close{
    top: calc(-200% - 80px);
   
}

.icon {
    color: var(--primaryColor);
    font-size: 28px !important ;
}

.mobile-menu .btn {
    display: block;
}

.links, .btn{
    display: none;
}

.menu-icon{
    margin-left: auto;
    cursor: pointer;
    z-index: 2;
}


/*mid screens &  desktop view */



@media (min-width: 756px){
    .menu-icon{
        display: none;
    }
    .mobile-menu{
        display: none;
    } 

    .links, .btn{
        display: block;
    }
    .links{
        display: flex;
        align-items: center;
        gap: 40px;
        margin: 0 20% 0 auto;
    }
    .btn{
        margin-right: 5% ;
    }
    
}